* @louiszawadzki @tychota
backend/django/* @yleflour @xavierlefevre @Samox
backend/graphql-js/* @yleflour @tpucci
contributing/* @yleflour
editor/vscode/* @yleflour
flowtype/* @yleflour
git/* @tychota
project-standards/technical-agility/*
security/* @minishlink
dangerfile.js @yleflour
